@inherits LayoutComponentBase

<MyMudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>

<link href="_content/Heron.MudCalendar/Heron.MudCalendar.min.css" rel="stylesheet"/>
<script src="_content/Heron.MudCalendar/Heron.MudCalendar.js"></script>



<div class="page mud-layout">

    <div class="sidebar mud-elevation-1">
        <div class="top-row mud-drawer-head">
            <div>
                <a class="navbar-brand" href="https://mudblazor.com/" target="_blank">Семейный календарь</a>
            </div>
        </div>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler"/>
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <NavMenu/>
        </div>

    </div>

    <main>
        <div class="top-row px-4">
            <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Style="color: white;" Link="https://mudblazor.com/" Target="_blank"/>
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Style="color: white;" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank"/>
        </div>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>